{{!-- Use URL as unique identifier (key) for the list item --}}
<li class="media" data-idom-key="{{url}}">
  <div class="content media-content">
    <p>
      <a href="/search/external?pageid={{pageid}}">
        {{title}}
      </a>
    </p>
    <p class="search-result-snippet">
      {{!-- The `idomVerbatim` helper allows us to insert raw HTML --}}
      {{ idomVerbatim snippet }}
    </p>
  </div>
</li>
