<div class="container" id="search-container">
  <form class="search-form">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text">
      </div>
      <div class="control">
        <button class="button is-info">Search</button>
      </div>
    </div>
  </form>
  <ul class="search-results">
    {{#each results}}
      {{>searchResult}}
    {{/each}}
  </ul>
</div>